.greeter {
  color: goldenrod;
  font-size: 40px;
  .hi {
    color: red;
  }
  .yo {
    color: orangered;
  }
  .nice {
    color: aquamarine;
    background-color: black;
    font-size: 80px;
  }
}